.productContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #f4f6f9;
}
.tableContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 30px;
}
.tableContainer table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border-radius: 20px;
}
#adminProductTable {
  width: 85%;
}
#adminProductTable td,
#adminProductTable th {
  max-width: 100px;
  padding: 10px;
}
#adminProductTable tr {
  background-color: rgb(255, 255, 255);
  transition: 0.5s;
}
#adminProductTable tr:hover {
  background-color: rgb(251, 252, 255);
}

#adminProductTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-weight: 500;
}
#adminProductTable td {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}
td img {
  width: 80px;
  height: 80px;
  background-image: contain;
}
.editBtn {
  transition: 0.5s;
  outline: 10px;
}
.editBtn:hover {
  color: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}
td i {
  padding: 10px;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #1f1f50;
}
